@charset "utf-8";
/* CSS Document */

.msg-header{
	border: 1px solid #ced4da;
	background-color: #f5f5f5;
	padding: 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.msg-textarea{
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	margin-top: -1px;
}