<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at auctor lacus. Morbi convallis purus non ornare accumsan.</p>
<p>Suspendisse imperdiet, neque ac lacinia facilisis, enim nisi mollis magna, vitae efficitur erat ante nec justo. Integer iaculis nisi et est suscipit convallis. Praesent rutrum non lectus eu feugiat.</p>
<p class="font-grey mb-0">Reference Number</p>
<p class="ref-num mb-0">BM-1234</p>
